* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 1336px;
  height: 178px;
  padding: 0px, 52px, 0px, 52px;
  margin-top: 80px;
}

.firstp {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #282828;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 62px;
  text-align: center;
  color: #282828;
}

.secondp {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #5f6980;
}

.firstcards {
  display: flex;
  width: 1336px;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
/*
.secondcards {
  row-gap: 32px;
  width: 1336px;
  height: 430px;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 32px;
  margin-right: 52px;
  margin-left: 52px;
}*/

.content {
  border: 1px solid #eaecf0;
}

img {
  width: 310px;
  height: 230px;
}
.name {
  font-size: 18px;
  font-weight: 600;
  color: #282828;
  line-height: 30px;
}

.job {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #3e3e59;
}

.quote {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #5f6980;
}

.icons {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  margin-top: 24px;
  color: #f2f4f7;
}
